#home {
    height: 100vh;
    width: 100vw;
    background-image: url(./images/bg_header.jpg);
    background-size: cover;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }

  .nuage {
    height: 50vh;
    width: 100vw;
    background-image: url(./images/bg_nuage.jpg);
    background-size: cover;
  }